.env
.env.testing
*.swp
/.fleet
/.idea
/.vscode
.phpstorm.meta.php
_ide_helper*
.phpactor.json
.phpunit.cache
.phpunit.result.cache
/node_modules
/public/build
/public/css/
/public/hot
/public/js/
/public/storage
/storage/*.key
/storage/framework/cache/
/storage/framework/sessions/
/vendor
auth.json
bootstrap/cache/
Homestead.json
Homestead.yaml
npm-debug.log
phpstan.neon
yarn-error.log